.input-select {
    position: relative;
}

.input-select .icon-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.input-select .icon-close img {
    width: 100%;
    height: 100%;
}

.custom-select__control.custom-select__control--is-disabled {
    background: #a7a7a7 !important;
}