@import "../variables/var";

.image-container {
  background-color: $color-bg-placeholder;

  img {
    display: block;
    margin: auto;
    width: 100%;
  }
}

.image-round {
  border-radius: 50%;
  overflow: hidden;
}

.image-icon {
  width: 22px;
  height: 22px;
}

.image-icon-small {
  width: 15px;
  height: 15px;
}

.image-icon-search {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px 0 0 -40px;
}

.image-icon-sidebar,
.image-icon-operate {
  width: 30px;
  height: 30px;
}